html{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem ;
}
body{
    font-family: "brother-1816", sans-serif;
    scroll-behavior: smooth;
    font-weight: 100;
    font-size: 20px;
    margin: 0 5%;
    max-width: 1700px;
}
/* IMAGEN DE FONDO */
#fondo {
	animation: fondo 5s linear infinite alternate both;
}
@keyframes fondo {
    0% {
        background-color: #55A6D9;
    }
    100% {
        background-color: #018abe;
    }
}
/* ENCABEZADO */
.TITULO{
    text-align: center;
}
.fontx{
    font-size: 4rem;
    padding: 10px 0px;    
    color: #031626;
    margin:0 ;
    width: 100%;
    text-decoration: none
}
/* MENU */
.sub-menu-parent { position: relative; }
.sub-menu { 
  visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.2s;
}
.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  transition-delay: 0s, 0s, 0s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
nav a { color: #02153d; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #65cfa6; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }
nav > ul { background: #018185; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaaaaa; }
nav > ul > li:first-child { border-left: none; }
.sub-menu {
    background: #018185;
}
.titulos-exsup{
    width: 100%;
    text-align: center;
    background-color: #40af93;
}
.plan1{
    display: grid;
    grid-template-columns: repeat(auto-filt,minmax(3,1fr));
    gap: 20px;
}
.coronal{
    grid-column: 1/2;
}
.sagital{
    grid-column:2/3 ;
}
.transversal{
    grid-column: 3/4;
}
.coronal,.sagital,.transversal{
    width: 100%;
    height: 45vh;
    border: 2px #0E3659 solid;
}
.titulo-planos,.subtitulos{
    text-align: center;
    background-color: rgba(172, 65, 172, 0.696);
}
.plan2{
    display: grid;
    grid-template-columns: repeat(auto-filt,minmax(3,1fr));
    gap:20px ;
}
.pa1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.ap2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.lat3{
    grid-column: 3/4;
    grid-row: 2/3;
}
.AP,.PA,.Lateral{
    width: 100%;
    height: 45vh;
    border: 2px #0E3659 solid;
}
.plan2 article p{
    text-align: center;
}
.plan2 p{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: left;
}
.mano{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3,1fr));
    justify-content: space-around;
    align-content: center;
    text-align: left;
}
.mano img{
    border-radius: 5%;
    width: 100%;
    height: 30vh;
}
.mano1{
    grid-column: 1/2;
    transition: 0.3s ease; 
}
.mano2{
    grid-column: 2/3;
    transition: 0.3s ease; 
}
.mano3{
    grid-column: 3/4;
    transition: 0.3s ease; 
}
.mano1:hover,.mano2:hover,.mano3:hover{
    transform: scale(1.8);
}
.muñeca{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4,1fr));
    justify-content: space-evenly;
    gap:3vh;
    align-content: center;
    text-align: left;
}
.muñeca img{
    border-radius: 5%;
    width: 100%;
    height: 30vh;
}
.muñeca1{
    grid-column: 1/3;
    transition: 0.3s ease; 
}
.muñeca2{
    grid-column: 3/5;
    transition: 0.3s ease; 
}
.muñeca3{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 20vh;
}
.muñeca ol{
    grid-column: 4/5;
    grid-row: 2/3;
}
.muñeca1:hover,.muñeca2:hover{
transform: scale(1.8);
}
.li{
    position: relative;
    right: 4vh;
}
.tunel{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4,1fr));
    justify-content: space-evenly;
    gap:3vh;
    align-content: center;
    text-align: left;
}
.tunel img{
    height: 30vh;
    border-radius: 5%;
    width: 100%;
}
.tunel1{
    grid-column: 1/2;
    grid-row: 1/2;
    transition: 0.2s ease;
}
.tunel2{
    grid-column: 2/3;
    grid-row: 1/2;
    transition: 0.2s ease;
}
.tunel1:hover,.tunel2:hover{
    transform: scale(1.1);
}
.antebrazo,.codo{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(2,1fr));
    gap:3vh;
    align-items: center;
    justify-content: center;
}
.antebrazo img,.codo img,.brazo img,.hombro img,.art img{
    height: 60vh;
    border-radius: 5%;
    transition: 0.2s ease;
}
.ante1,.codo1,.hombro1{
    grid-column: 1/2;
}
.ante2,.codo2{
    grid-column: 2/3;
}
.ante1:hover,.ante2:hover,.codo1:hover,.codo2:hover,.brazo1:hover,.hombro1:hover,.arti1:hover{
    transform: scale(1.1);
}
.codo img{
    height: 50vh;
    border-radius: 5%;
    transition: 0.2s ease;
}
.brazo,.hombro,.art{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1fr));
    gap:3vh;
    align-items: center;
    justify-content: center;
}
.ext1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(2,1fr));
    gap:3vh;
    align-items: center;
    justify-content: center;
}
.ext1 img{
    height: 50vh;
    border-radius: 5%;
    transition: 0.2s ease;
}
.ext2{
    grid-column: 1/2;
}
.ext3{
    grid-column: 2/3;
}
.ext2:hover,.ext3:hover{
    transform: scale(1.2);
}