html{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* cambio de margenes y fuente a todo el archivo */
*{
    font-size: 1rem ;
    color: antiquewhite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* IMAGEN DE FONDO */
#fondo {
	animation: fondo 5s linear infinite alternate both;
}
@keyframes fondo {
    0% {
        background-color: #292b2f;
    }
    100% {
        background-color: #018abe;
    }
}
/* ENCABEZADO */
.TITULO{
    text-align: center;
    background-color:rgba(5,7,12, 0.3) ;
}
.fontx{
    font-size: 4rem;
    padding: 10px 0px;    
    color: aqua;
    margin:0 ;
    width: 100%;
    text-decoration: none
}
@media (max-width: 480px){
    #fondo{
        background-color: aquamarine;
    }
}
/* MENU */
.sub-menu-parent { position: relative; }
.sub-menu { 
  visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */
body { padding: 2%; font: 18px/1.4 sans-serif; }

nav a { color: #02153d; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #02153d; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: #018185; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaaaaa; }
nav > ul > li:first-child { border-left: none; }

.sub-menu {
    background: #00eed0;
}








